<h2 class="landing landing__api-title">
    <img src="/latest.svg" />
    API: latest-releases
    <img src="/latest.svg" />

</h2>
<div class="center">
    endpoint: <a class="api-link" href="/api/latest-releases" target="_blank" rel="noopener">
        /api/latest-releases</a>
</div>

<div class="json">
    <pre>
        <code> {{result}} </code>
    </pre>
</div>
