<h2 class="landing landing__api-title">
    <img src="/secured.svg" />
    API: minimum-secure
    <img src="/secured.svg" />
</h2>
<div class="center">
    endpoint: <a class="api-link" href="/api/minimum-secure" target="_blank" rel="noopener">
        /api/minimum-secure</a>
</div>

<div class="json">
    <pre>
        <code> {{result}} </code>
    </pre>
</div>
