</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/styles.min.css">
</head>

<body>
    <header class="top">
        <nav class="nav">
            <div class="nav__section nav__section--pages">
                <ul>
                    <li class="nav__item">
                        <a class="nav__link nav__link--logo" href="/" aria-label="Home Page">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--logo" href="/dependencies">dependencies</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--logo" href="/minimumSecure">
                            minimum-secure</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--logo" href="/latestReleases">latest-releases</a>
                    </li>
                </ul>
            </div>
            <div class="nav__section nav__section--user">
                <ul>
                    <li class="nav__item">
                        <a class="nav__link nav__link--logo"
                            href="https://github.com/nodejs/examples/server/express/api-with-express-and-handlebars"
                            target="_blank" rel="noopener">
                            <img src="/github.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        {{{body}}}
    </div>
    <footer class="" id="footer" role="contentinfo">
        <span>Made with ❤️ by </span><a href="https://twitter.com/thiruppathi" rel="noopener" target="_blank">Thiru </a>
    </footer>
</body>

</html>
